/*
Credit :
	Hover : https://miketricking.github.io/dist/
	Several problems' solutions : Stack Overflow members, w3schools	
*/

body {
	color: #EEEFF3;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 3.75em;
}

h3 {
	font-size: 2.925em;
}

h4 {
	font-size: 2.8em;
}

h5 {
	font-size: 2.075em;
}

h6 {
	font-size: 1.875em;
}
p {
	font-size: 1.6em;
}

.hovereffect {
	width:100%;
	height:100%;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
}

.hovereffect .overlay {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	opacity:0;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
}

.hovereffect img {
	display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}

.hovereffect h2 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
}

.hovereffect a.info {
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
	border:1px solid #fff;
	background-color:transparent;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	margin:50px 0 0;
	padding:7px 14px;
}

.hovereffect a.info:hover {
	box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

.hovereffect:hover .overlay {
	opacity:1;
	filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
	opacity:1;
	filter:alpha(opacity=100);
	-ms-transform:translatey(0);
	-webkit-transform:translatey(0);
	transform:translatey(0);
}

.hovereffect:hover a.info {
	-webkit-transition-delay:.2s;
	transition-delay:.2s;
}

.centering {
	display: flex;
    justify-content: center;
    align-items: center;
}

#hi-section {
	background-color: #353531;
	height: 85vh;
	font-family: 'Source Sans Pro', sans-serif;
}

#stickman {
	height: auto;
	width: 40vh;
	display: block;
	overflow: hidden;
}

#introduction-section {
	background-color: #1b998b;
	overflow: hidden;
    position: relative;
    width: 100%;
    font-family: 'Poiret One', cursive;
}

#introduction-section a {
	color: #EEE000;
}

#introduction-title {
	background-color: #F46036;
	height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#introduction-photo {
	height: 100%;
    position: absolute;
    left: 0;
    top: 0;
	background-image: url("../image/asel.png");
}

#introduction-text {
	padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 35%;
	padding-right:-10em;
}

#education-section {
	background-color: #093A3E;
	font-family: 'Playfair Display', serif;
	padding-bottom: 3em;
}

#school {
	padding-top: 3em;
	padding-bottom: 3em;
}
.education-logo {
	max-width: 15em;
	max-height: 15em;
	width: auto;
	height: auto;
}

#skillset-section {
	background-color: #114B5F;
	padding-left: 20em;
}